@charset "UTF-8";
body {
  background-color: rgb(253, 245, 2);
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 100%;
}

/*-----Navbar----*/
.navbarp {
  background-color: rgb(210, 105, 30);
}
.navbarp .navbarp__div {
  background-color: rgb(210, 105, 30);
}
.navbarp .navbarp__div .logo {
  width: 20rem;
  height: 20rem;
}
.navbarp .navbarp__div .navbarp__div__div .navbarp__div__div__ul .navbarp__div__div__ul__li .navbarp__div__div__ul__li--a {
  text-decoration: none;
  color: rgb(253, 245, 2);
  font-size: 18px;
}
.navbarp .navbarp__div .navbarp__div__div .navbarp__div__div__ul .navbarp__div__div__ul__li .navbarp__div__div__ul__li--a:hover {
  background-color: rgb(253, 245, 2);
  color: rgb(210, 105, 30);
}

.letralogo {
  font-size: 5rem;
  color: rgb(253, 245, 2);
  font-weight: 400;
}

/*-----_mainindex----*/
.indexNuevo {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.indexNuevo .section__indexNuevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; /*space-around mas separado. space-evenly mas junto*/
  height: 25%;
}
.indexNuevo .section__indexNuevo .p__indexNuevo {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 1.1rem;
  margin: 0;
  height: 50%;
  font-size: auto;
  text-align: center;
  --mask:
  radial-gradient(0.60vw at 50% 0.82vw,#000 99%,#0000 101%) calc(50% - 1vw) 0/2vw 51% repeat-x,
  radial-gradient(0.60vw at 50% -0.33vw,#0000 99%,#000 101%) 50% 0.5vw/2vw calc(51% - 0.5vw) repeat-x,
  radial-gradient(0.60vw at 50% calc(100% - 0.82vw),#000 99%,#0000 101%) calc(50% - 1vw) 100%/2vw 51% repeat-x,
  radial-gradient(0.60vw at 50% calc(100% + 0.33vw),#0000 99%,#000 101%) 50% calc(100% - 0.5vw)/2vw calc(51% - 0.5vw) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.indexNuevo .section__indexNuevo .p__indexNuevo:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.indexNuevo .section__indexNuevo .p__indexNuevo a {
  padding: 2rem;
  font-size: xx-large;
}
.indexNuevo .section__indexNuevo .h1__g {
  background-color: aqua;
  padding: 0 1rem 0 1rem;
  --mask: radial-gradient(13.44px at 18.8px 50%, #000 99%, #0000 101%) 0 calc(50% - 16px) / 51% 32px repeat-y,
      radial-gradient(13.44px at -10.8px 50%, #0000 99%, #000 101%) 8px 50% / calc(51% - 8px) 32px repeat-y,
      radial-gradient(13.44px at calc(100% - 18.8px) 50%, #000 99%, #0000 101%) 100% calc(50% - 16px) / 51%
          32px repeat-y,
      radial-gradient(13.44px at calc(100% + 10.8px) 50%, #0000 99%, #000 101%) calc(100% - 8px) 50% /
          calc(51% - 8px) 32px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.indexNuevo .section__indexNuevo .h1__g a {
  font-size: 100px;
}
.indexNuevo .section__indexNuevo .h1__g:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*-----mainpromociones----*/
.cardPromociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 0;
}
.cardPromociones div {
  width: 25%;
  height: 50%;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  background-color: antiquewhite;
  /*svg {fill: #1559cf;stroke: #00ff8c;&:hover{fill: #ff0000;} } el stroke si sirve*/
  /*-----HOVER----*/
}
.cardPromociones div img {
  width: 100%;
}
.cardPromociones div h5 {
  color: chocolate;
  margin: 0.5rem 0 0 0;
  display: inline;
}
.cardPromociones div p {
  margin: 0;
  display: inline;
}
.cardPromociones div:hover {
  border: 0.5rem solid chocolate;
}
.cardPromociones div:hover p {
  /*border-left-width: thin solid black; 
  border-right-width: thin solid black;;
  border-top-width: thin solid black;*/
}
.cardPromociones div:hover p span {
  border-radius: 50%;
  display: inline;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/*-----mainsabores----*/
.sabores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sabores section {
  width: auto;
  height: 16rem;
  background-color: rgb(210, 105, 30);
  margin: 10% 0 10% 0;
  padding: 1%;
}
.sabores section .ul--sabores {
  padding: 0%;
}

/*-----mainproductos----*/
ol,
ul,
li {
  text-decoration: none;
  list-style: none; /*padding: 0; agrgar al terminar*/
  font-size: 18px;
}

.li-paraelegir .li__ul-paralegir {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  /*que es esto? grid-auto-columns: 1fr;*/
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0px 0px;
  grid-template-areas: "bochagrid dosbochasgrid tresbochasgrid" "barquillogrid ... pinitogrid" "cuartokgrid mediokgrid kgrid" "bañochoco bañochoco bañochoco";
}
.li-paraelegir .li__ul-paralegir li img {
  width: 25%;
}
.li-paraelegir .li__ul-paralegir li p {
  font-size: 18px;
  padding: 0 0 0 0;
  margin: 0;
}

/*------ grid area----*/
.bochagrid {
  grid-area: bochagrid;
}

.dosbochasgrid {
  grid-area: dosbochasgrid;
}

.tresbochasgrid {
  grid-area: tresbochasgrid;
}

.barquillogrid {
  grid-area: barquillogrid;
}

.pinitogrid {
  grid-area: pinitogrid;
}

.cuartokgrid {
  grid-area: cuartokgrid;
}

.mediokgrid {
  grid-area: mediokgrid;
}

.kgrid {
  grid-area: kgrid;
}

.bañochoco {
  grid-area: bañochoco;
}

.bañochoco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: aliceblue;
  border: 0.2rem solid black;
  width: auto;
}
.bañochoco .bañochoco_p {
  padding: 0 0 0 0;
}

.li-postres .li__ul-postres {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.li-postres .li__ul-postres .ul__li-postres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: rgb(210, 105, 30);
}
.li-postres .li__ul-postres .ul__li-postres .div-precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.li-postres .li__ul-postres .ul__li-postres .div-precios p {
  margin: 0 5% 0 5%;
}
.li-postres .li__ul-postres .unidad {
  display: none;
  position: absolute;
  top: 62vw;
  background-color: aliceblue;
  right: 6vw;
}
.li-postres .li__ul-postres .seisunidades {
  display: none;
  position: absolute;
  right: 0;
}

.familiares {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.familiares .ul__familiares {
  background-color: rgb(210, 105, 30);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*.li__familiaresPrecio{
  }*/
}
.familiares .ul__familiares .li__familiares {
  padding: 0;
  width: 50%;
}

.tortas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tortas .ul__tortas {
  background-color: rgb(210, 105, 30);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*.li__tortasprecio {
  }*/
}
.tortas .ul__tortas .li__tortas {
  width: 50%;
}

.antojos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.antojos .ul__antojos {
  background-color: rgb(210, 105, 30);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.antojos .ul__antojos .li__antojos {
  width: 50%;
}

.unidadantojo,
.unidadesantojo {
  position: absolute;
  top: 8vw;
}

.copas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.copas .ul__copas {
  background-color: rgb(210, 105, 30);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.copas .ul__copas .li__copas {
  width: 50%;
}

.texto-hover:hover {
  color: rgb(253, 245, 2);
}
.texto-hover:hover span {
  color: black;
}

/*-----maincafeteria----*/
.cafeteria {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cafeteria .ul--cafeteria {
  background-color: rgb(210, 105, 30);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*.li--precio{}*/
}
.cafeteria .ul--cafeteria .li--cafeteria {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;*/
  width: 50%;
}

.texto-hover:hover {
  color: rgb(253, 245, 2);
}
.texto-hover:hover span {
  color: black;
}

/*-----_maindelivery----*/
.DeliveryMain {
  padding: auto;
  margin: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.DeliveryMain .deliverySection {
  background-color: rgb(210, 105, 30);
  text-align: center;
  margin: 0.5rem;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionpedidosya .a-pedidosya {
  width: 50%;
}
.sectionpedidosya .a-pedidosya .imgpedidosya {
  width: 100%;
  padding: 0;
  margin: auto;
}

/*.texto-hover{display: flex; justify-content: space-between;
    }
.texto-hover:hover { color: aqua; span{color:black ;}}*/
/*-----_footer----*/
footer {
  background-color: rgb(210, 105, 30);
  padding: 0rem 0.5rem;
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .divInformacion h3 {
  color: rgb(253, 245, 2);
  margin: 0;
  text-decoration: none;
}
footer .divInformacion a {
  text-decoration: none;
  color: rgb(253, 245, 2);
}
footer .divDirecciones {
  text-align: right;
}
footer .divDirecciones h3 {
  margin: 0;
}
footer .divDirecciones h3 a {
  text-decoration: none;
  color: rgb(253, 245, 2);
}
footer .divDirecciones ul {
  list-style-type: none;
  margin: 0;
}
footer .divDirecciones ul li:hover {
  color: rgb(253, 245, 2);
}
footer .divDirecciones ul li a {
  text-decoration: none;
  color: rgb(253, 245, 2);
}

/*-----_404----*/
.main404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main404 .h1404 .volver404 {
  text-decoration: none;
  font-size: 5rem;
  color: rgb(210, 105, 30);
}
.main404 .la {
  width: 85%;
}

/*-----_responsive----*/
/*-----max 426----*/
@media screen and (max-width: 426px) {
  body {
    background-color: rgb(255, 251, 130);
  }
  body .mainIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .mainIndex .heladoImg {
    width: 100%;
  }
  body .mainIndex .videoIndex {
    width: 100%;
  }
  body .cardSabores section {
    height: 15rem;
    margin: 5rem 1rem 0rem 1rem;
  }
  body .cardSabores section div p {
    margin: 0.5rem 0 0.5rem 0;
  }
  body .productos3 .productos3__div p {
    margin: 0 0 0.3rem 0;
  }
  body .productos3 .productos3__div .productos3__div__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .productos3 .productos3__div .productos3__div__card .productos3__div__card_p_over {
    margin: auto;
    padding: 0rem;
  }
  body .productos3 .productos3__div .productos3__div__card .productos3__div__card_p {
    width: 1rem;
    margin: 0 0 0.1rem 0;
    padding: 0.1rem;
  }
  body .productos3 .productos3__div .productos3__div__card h3 {
    width: auto;
    margin: auto;
    padding: 1rem;
  }
  body .cafeteriaArticle {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .cafeteriaArticle .cafeteria1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem;
    width: 30rem;
  }
  body .cafeteriaArticle .cafeteria1 ul {
    padding: 1rem;
    width: auto;
  }
  body .DeliveryMain {
    margin: auto;
  }
  body .DeliveryMain h2 {
    text-align: center;
  }
  body .DeliveryMain .deliverySection {
    margin: 0;
  }
}
/*-----min 992----*/
@media screen and (min-width: 992px) {
  body {
    background-color: rgb(253, 228, 2);
  }
}
/*-----max 991 ----*/
@media screen and (max-width: 991px) {
  body .cardSabores section {
    height: 15rem;
    margin: 5rem 1rem 0rem 1rem;
  }
  body .cardSabores section div p {
    margin: 0.5rem 0 0.5rem 0;
  }
  body .productosGeneral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .productosGeneral .producto1 {
    width: 100%;
    padding: 0;
    margin: auto;
  }
  body .productosGeneral .producto1 div {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
  }
  body .productosGeneral .producto1 div .cardProducto1 {
    padding: 0;
    margin: 0 0 0 0;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card {
    width: 15rem;
    padding: 2rem;
    margin: 0.5rem;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card .productos2__div__card__div {
    width: 8rem;
    margin: auto;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card .productos2__div__card__div p {
    padding: 0;
    margin: 0rem 1rem 0rem 0rem;
    height: 5rem;
    font-size: 18px;
    text-align: center;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card .productos2__div__card__div .productos2__div__card__div__h3 {
    margin: auto;
    padding: 0rem;
    width: 4.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 18px;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card h3 {
    width: auto;
    padding: 0rem 0 0rem 0rem;
    margin: auto;
  }
  body .productosGeneral .productos3 .productos3__div .productos3__div__card .productos3__div__card_p_over {
    margin: 0.5rem;
  }
  body .productosGeneral .productos3 .productos3__div .productos3__div__card .productos3__div__card_p {
    margin: 0 0 0.5rem 0;
  }
  body .productosGeneral .productos3 .productos3__div .productos3__div__card h3 {
    margin: 0.5rem;
  }
  body .cafeteriaArticle {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .cafeteriaArticle .cafeteria1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem;
    width: 30rem;
  }
  body .cafeteriaArticle .cafeteria1 ul {
    margin: 2rem;
  }
}