@charset "UTF-8";
body {
  background-color: rgb(253, 245, 2);
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 100%;
}

/*-----Navbar----*/
.navbarp {
  background-color: rgb(210, 105, 30);
  /*--mask:
    radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);*/
  /* --mask:
        radial-gradient(34.99px at 2rem calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(34.99px at 2rem calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
      -webkit-mask: var(--mask);
              mask: var(--mask);*/
  /*--mask:
              radial-gradient(27.99px at 50% calc(100% - 38.40px),#000 99%,#0000 101%) calc(50% - 48px) 0/96px 100%,
              radial-gradient(27.99px at 50% calc(100% + 14.40px),#0000 99%,#000 101%) 50% calc(100% - 24px)/96px 100% repeat-x;
            -webkit-mask: var(--mask);
                    mask: var(--mask);*/
  --mask: radial-gradient(36.15px at 50% calc(100% - 49.6px), #000 99%, #0000 101%) calc(50% - 62px) 0/124px 100%,
      radial-gradient(36.15px at 50% calc(100% + 18.6px), #0000 99%, #000 101%) 50% calc(100% - 31px) / 124px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  padding: 0 0 3rem 0;
}
.navbarp .navbarp__div {
  background-color: rgb(210, 105, 30);
}
.navbarp .navbarp__div .logo {
  width: 20rem;
  height: 20rem;
}
.navbarp .navbarp__div .navbarp__div__div .navbarp__div__div__ul .navbarp__div__div__ul__li .navbarp__div__div__ul__li--a {
  text-decoration: none;
  color: rgb(253, 245, 2);
  font-size: 18px;
}
.navbarp .navbarp__div .navbarp__div__div .navbarp__div__div__ul .navbarp__div__div__ul__li .navbarp__div__div__ul__li--a:hover {
  background-color: rgb(253, 245, 2);
  color: rgb(210, 105, 30);
}

.letralogo {
  font-size: 5rem;
  color: rgb(253, 245, 2);
  font-weight: 400;
}

/*-----_mainindex----*/
.indexNuevo {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.indexNuevo .section__indexNuevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; /*space-around mas separado. space-evenly mas junto*/
  height: 25%;
}
.indexNuevo .section__indexNuevo .p__indexNuevo {
  background-color: aliceblue;
  border-radius: 45%;
  padding: 0 2rem 5rem 2rem;
  margin: 0;
  height: 50%;
  font-size: auto;
  text-align: center;
  /*--mask:
    radial-gradient(1.80rem at 1rem 2.50rem,#000 99%,#0000 101%) calc(50% - 2rem) 0/4rem 51% repeat-x,
    radial-gradient(1.80rem at 1rem -1.5rem,#0000 99%,#000 101%) 50% 1rem/4rem calc(51% - 1rem) repeat-x,
    radial-gradient(1.80rem at 1rem calc(100% - 2.50rem),#000 99%,#0000 101%) calc(50% - 2rem) 100%/4rem 51% repeat-x,
    radial-gradient(1.80rem at 1rem calc(100% + 1.50rem),#0000 99%,#000 101%) 50% calc(100% - 1rem)/4rem calc(51% - 1rem) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);*/
  /*10px*/
  --mask: radial-gradient(17.49px at 50% calc(100% - 24px), #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%,
      radial-gradient(17.49px at 50% calc(100% + 9px), #0000 99%, #000 101%) 50% calc(100% - 15px) / 60px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.indexNuevo .section__indexNuevo .p__indexNuevo:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.indexNuevo .section__indexNuevo .p__indexNuevo a {
  padding: 0;
  font-size: clamp(1.8rem, 3.5vw, 2rem);
  text-decoration: none;
}
.indexNuevo .section__indexNuevo .h1__g {
  background-color: aqua;
  padding: 0 1rem 0 1rem;
  /*--mask: radial-gradient(13.44px at 18.8px 50%, #000 99%, #0000 101%) 0 calc(50% - 16px) / 51% 32px repeat-y,
      radial-gradient(13.44px at -10.8px 50%, #0000 99%, #000 101%) 8px 50% / calc(51% - 8px) 32px repeat-y,
      radial-gradient(13.44px at calc(100% - 18.8px) 50%, #000 99%, #0000 101%) 100% calc(50% - 16px) / 51%
          32px repeat-y,
      radial-gradient(13.44px at calc(100% + 10.8px) 50%, #0000 99%, #000 101%) calc(100% - 8px) 50% /
          calc(51% - 8px) 32px repeat-y;                
  -webkit-mask: var(--mask);
  mask: var(--mask);*/
  border-radius: 45% 45% 5% 5%;
  --mask:
  radial-gradient(4.00px at 50% calc(100% - 4.00px),#000 99%,#0000 101%) calc(50% - 8px) 0/16px 100%,
  radial-gradient(4.00px at 50% calc(100% + 0.00px),#0000 99%,#000 101%) 50% calc(100% - 4px)/16px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.indexNuevo .section__indexNuevo .h1__g a {
  font-size: 50px;
  text-decoration: none;
}
.indexNuevo .section__indexNuevo .h1__g:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*-----mainpromociones----*/
.cardPromociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0 1.5rem 0;
  width: 100%;
}
.cardPromociones div {
  width: 30rem;
  height: 50%;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  background-color: antiquewhite;
  /*svg {fill: #1559cf;stroke: #00ff8c;&:hover{fill: #ff0000;} } el stroke si sirve*/
  /*-----HOVER----*/
}
.cardPromociones div img {
  width: 100%;
}
.cardPromociones div h2 {
  color: chocolate;
  margin: 0.5rem 0 0 0;
  display: inline;
}
.cardPromociones div p {
  margin: 0;
  display: inline;
  font-size: 18px;
}
.cardPromociones div:hover {
  border: 0.5rem solid chocolate;
}
.cardPromociones div:hover p {
  /*border-left-width: thin solid black; 
  border-right-width: thin solid black;;
  border-top-width: thin solid black;*/
}
.cardPromociones div:hover p span {
  border-radius: 50%;
  display: inline;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/*-----mainsabores----*/
.sabores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sabores section {
  width: 16rem;
  height: 17rem;
  background-color: rgb(210, 105, 30);
  margin: 10% 1% 10% 1%;
  padding: 1%;
  /*11px*/
  --mask:
  radial-gradient(12.83px at 50% calc(100% - 17.60px),#000 99%,#0000 101%) calc(50% - 22px) 0/44px 100%,
  radial-gradient(12.83px at 50% calc(100% + 6.60px),#0000 99%,#000 101%) 50% calc(100% - 11px)/44px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 100px 100% 10% 10%/40% 700px 50% 10%;
}
.sabores section .ul--sabores {
  font-weight: 700;
  padding: 0 0 1rem 0;
}

/*-----mainproductos----*/
ol,
ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.paraelegir {
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.paraelegir .ul__paralegir {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 1rem 0 0 0;
  /*que es esto? grid-auto-columns: 1fr;*/
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0px 0px;
  grid-template-areas: "bochagrid dosbochasgrid tresbochasgrid" "barquillogrid ... pinitogrid" "cuartokgrid mediokgrid kgrid" "bañochoco bañochoco bañochoco";
}
.paraelegir .ul__paralegir li img {
  width: 25%;
}
.paraelegir .ul__paralegir li p {
  font-size: 18px;
  padding: 0 0 0 0;
  margin: 0;
}

/*------ grid area----*/
.bochagrid {
  grid-area: bochagrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bochagrid div {
  margin: 1rem;
}

.dosbochasgrid {
  grid-area: dosbochasgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dosbochasgrid div {
  margin: 1rem;
}

.tresbochasgrid {
  grid-area: tresbochasgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tresbochasgrid div {
  margin: 1rem;
}

.barquillogrid {
  grid-area: barquillogrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.barquillogrid div {
  width: 15%;
  text-align: left;
  margin: 1rem;
}

.pinitogrid {
  grid-area: pinitogrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.pinitogrid div {
  width: 10%;
  text-align: left;
  margin: 1rem 1rem 1rem 2.5rem;
}

.cuartokgrid {
  grid-area: cuartokgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cuartokgrid div {
  margin: 1rem;
}

.mediokgrid {
  grid-area: mediokgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mediokgrid div {
  margin: 1rem;
}

.kgrid {
  grid-area: kgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kgrid div {
  margin: 1rem;
}

.bañochoco {
  grid-area: bañochoco;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(254, 255, 240);
  border: 0.1rem solid black;
  width: auto;
  margin: 1rem;
}
.bañochoco .bañochoco_p {
  padding: 0;
}

.postres {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.postres .ul__postres {
  background-color: rgb(210, 105, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
  text-align: left;
  padding: 0 0 1rem 0;
  --mask: radial-gradient(17.49px at 50% calc(100% - 24px), #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%,
      radial-gradient(17.49px at 50% calc(100% + 9px), #0000 99%, #000 101%) 50% calc(100% - 15px) / 60px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 1rem 1rem 0 0;
}
.postres .ul__postres .li__postres {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(210, 105, 30);
  margin: 0 1% 0 1%;
}
.postres .ul__postres .li__postres .div-precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.postres .ul__postres .li__postres .div-precios p {
  width: auto;
}
.postres .ul__postres .li__postres .div-precios .p__preciounidad {
  margin: 0 0.5rem 0 0;
}

.unidad {
  position: absolute;
  top: auto;
  right: 72px;
  background-color: aliceblue;
}

.seisunidades {
  position: absolute;
  top: auto;
  right: 5px;
  background-color: aliceblue;
  line-height: 1.2;
}

.familiares {
  text-align: center;
}
.familiares .ul__familiares {
  background-color: rgb(210, 105, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  text-align: left;
  padding: 0 0 1rem 0;
  /*15px*/
  --mask: radial-gradient(17.49px at 50% calc(100% - 24px), #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%,
      radial-gradient(17.49px at 50% calc(100% + 9px), #0000 99%, #000 101%) 50% calc(100% - 15px) / 60px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 1rem 1rem 0 0;
  border: 5px solid #010101;
  border-style: dotted;
}
.familiares .ul__familiares .li__familiares {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1% 0 1%;
}
.familiares .ul__familiares .li__familiares p {
  width: auto;
}

.tortas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.tortas .ul__tortas {
  background-color: rgb(210, 105, 30);
  margin: 1rem;
  text-align: left;
  padding: 0 0 1rem 0;
  --mask: radial-gradient(17.49px at 50% calc(100% - 24px), #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%,
      radial-gradient(17.49px at 50% calc(100% + 9px), #0000 99%, #000 101%) 50% calc(100% - 15px) / 60px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 1rem 1rem 0 0;
}
.tortas .ul__tortas .li__tortas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1% 0 1%;
}
.tortas .ul__tortas .li__tortas p {
  width: auto;
}

.antojos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.antojos .ul__antojos {
  background-color: rgb(210, 105, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
  text-align: left;
  padding: 0 0 1rem 0;
  --mask: radial-gradient(17.49px at 50% calc(100% - 24px), #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%,
      radial-gradient(17.49px at 50% calc(100% + 9px), #0000 99%, #000 101%) 50% calc(100% - 15px) / 60px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 1rem 1rem 0 0;
}
.antojos .ul__antojos .li__antojos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1% 0 1%;
}
.antojos .ul__antojos .li__antojos p {
  width: auto;
}
.antojos .ul__antojos .li__antojos .p__preciounidad {
  margin: 0 0.5rem 0 0;
}
.antojos .ul__antojos .li__antojos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unidadantojo {
  position: absolute;
  top: auto;
  right: 72px;
  background-color: aliceblue;
}

.unidadesantojo {
  position: absolute;
  top: auto;
  right: 5px;
  background-color: aliceblue;
  line-height: 1.2;
}

.copas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.copas .ul__copas {
  background-color: rgb(210, 105, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
  text-align: left;
  padding: 0 0 1rem 0;
  --mask: radial-gradient(17.49px at 50% calc(100% - 24px), #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%,
      radial-gradient(17.49px at 50% calc(100% + 9px), #0000 99%, #000 101%) 50% calc(100% - 15px) / 60px 100%
          repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 1rem 1rem 0 0;
}
.copas .ul__copas .li__copas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1rem 0 1rem;
}
.copas .ul__copas .li__copas p {
  width: auto;
}

.texto-hover:hover {
  color: rgb(253, 245, 2);
}
.texto-hover:hover span {
  color: black;
}

/*-----maincafeteria----*/
.caferiaCuerpo {
  margin: 3rem 0 3rem 0;
}
.caferiaCuerpo .cafeteria {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 0 6rem 0;
}
.caferiaCuerpo .cafeteria .ul--cafeteria {
  background-color: rgb(210, 105, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  /*15 px*/
  --mask:
  radial-gradient(17.49px at 50% calc(100% - 24.00px),#000 99%,#0000 101%) calc(50% - 30px) 0/60px 100%,
  radial-gradient(17.49px at 50% calc(100% + 9.00px),#0000 99%,#000 101%) 50% calc(100% - 15px)/60px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 1rem 1rem 0 0;
  padding: 0 0 2rem 0;
  margin: 1rem;
}
.caferiaCuerpo .cafeteria .ul--cafeteria .li--cafeteria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1rem 0 1rem;
}
.caferiaCuerpo .cafeteria .ul--cafeteria p {
  width: auto;
}

.texto-hover:hover,
.texto-hove:focus {
  color: rgb(253, 245, 2);
}
.texto-hover:hover span,
.texto-hove:focus span {
  -webkit-transition: 6s;
  transition: 6s;
  text-decoration: underline;
  color: black;
  text-decoration: underline;
  background-size: 0 0.1em, 100% 0.1em;
}

/*-----_maindelivery----*/
.DeliveryMain {
  padding: auto;
  margin: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgb(210, 105, 30);
  --mask:
  radial-gradient(36.15px at 50% calc(100% - 49.60px),#000 99%,#0000 101%) calc(50% - 62px) 0/124px 100%,
  radial-gradient(36.15px at 50% calc(100% + 18.60px),#0000 99%,#000 101%) 50% calc(100% - 31px)/124px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  padding: 0 0 3rem 0;
  border-radius: 100px 100px 0 0;
}
.DeliveryMain h2 {
  color: rgb(253, 245, 2);
  padding: 2rem 0 0 0;
}
.DeliveryMain .deliverySection {
  background-color: rgb(210, 105, 30);
  text-align: center;
  margin: 0.5rem;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionpedidosya .a-pedidosya {
  width: 50%;
}
.sectionpedidosya .a-pedidosya .imgpedidosya {
  width: 100%;
  padding: 0;
  margin: auto;
}

/*-----_footer----*/
footer {
  background-color: rgb(210, 105, 30);
  padding: 0rem 0.5rem;
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .divInformacion h3 {
  color: rgb(253, 245, 2);
  margin: 0;
  text-decoration: none;
}
footer .divInformacion a {
  text-decoration: none;
  color: rgb(253, 245, 2);
}
footer .divDirecciones {
  text-align: right;
}
footer .divDirecciones h3 {
  margin: 0;
}
footer .divDirecciones h3 a {
  text-decoration: none;
  color: rgb(253, 245, 2);
}
footer .divDirecciones ul {
  list-style-type: none;
  margin: 0;
}
footer .divDirecciones ul li:hover {
  color: rgb(253, 245, 2);
}
footer .divDirecciones ul li a {
  text-decoration: none;
  color: rgb(253, 245, 2);
}

/*-----_404----*/
.main404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main404 .h1404 .volver404 {
  text-decoration: none;
  font-size: 5rem;
  color: rgb(210, 105, 30);
}
.main404 .la {
  width: 85%;
}

/*-----_responsive----*/
/*-----max 426----*/
@media screen and (max-width: 426px) {
  body {
    background-color: rgb(255, 251, 130);
  }
  body .indexNuevo .section__indexNuevo .p__indexNuevo {
    padding: 1rem 0 1rem 0;
  }
  body .indexNuevo .section__indexNuevo .p__indexNuevo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  body .indexNuevo .section__indexNuevo .p__indexNuevo a {
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .cardSabores section {
    height: 15rem;
    margin: 5rem 1rem 0rem 1rem;
  }
  body .cardSabores section div p {
    margin: 0.5rem 0 0.5rem 0;
  }
  body .productos3 .productos3__div p {
    margin: 0 0 0.3rem 0;
  }
  body .productos3 .productos3__div .productos3__div__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .productos3 .productos3__div .productos3__div__card .productos3__div__card_p_over {
    margin: auto;
    padding: 0rem;
  }
  body .productos3 .productos3__div .productos3__div__card .productos3__div__card_p {
    width: 1rem;
    margin: 0 0 0.1rem 0;
    padding: 0.1rem;
  }
  body .productos3 .productos3__div .productos3__div__card h3 {
    width: auto;
    margin: auto;
    padding: 1rem;
  }
  body .cafeteriaArticle {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .cafeteriaArticle .cafeteria1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem;
    width: 30rem;
  }
  body .cafeteriaArticle .cafeteria1 ul {
    padding: 1rem;
    width: auto;
  }
  body .DeliveryMain h2 {
    text-align: center;
  }
  body .DeliveryMain .deliverySection {
    margin: 0;
  }
}
@media screen and (max-width: 445px) {
  .indexNuevo .section__indexNuevo .p__indexNuevo {
    padding: 1rem;
  }
  .indexNuevo .section__indexNuevo .p__indexNuevo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .indexNuevo .section__indexNuevo .p__indexNuevo a {
    padding: 0.5rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*-----min 992----*/
@media screen and (min-width: 992px) {
  body {
    background-color: rgb(253, 228, 2);
  }
}
/*-----max 991 ----*/
@media screen and (max-width: 991px) {
  body .cardSabores section {
    height: 15rem;
    margin: 5rem 1rem 0rem 1rem;
  }
  body .cardSabores section div p {
    margin: 0.5rem 0 0.5rem 0;
  }
  body .productosGeneral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .productosGeneral .producto1 {
    width: 100%;
    padding: 0;
    margin: auto;
  }
  body .productosGeneral .producto1 div {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
  }
  body .productosGeneral .producto1 div .cardProducto1 {
    padding: 0;
    margin: 0 0 0 0;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card {
    width: 15rem;
    padding: 2rem;
    margin: 0.5rem;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card .productos2__div__card__div {
    width: 8rem;
    margin: auto;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card .productos2__div__card__div p {
    padding: 0;
    margin: 0rem 1rem 0rem 0rem;
    height: 5rem;
    font-size: 18px;
    text-align: center;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card .productos2__div__card__div .productos2__div__card__div__h3 {
    margin: auto;
    padding: 0rem;
    width: 4.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 18px;
  }
  body .productosGeneral .productos2 .productos2__div .productos2__div__card h3 {
    width: auto;
    padding: 0rem 0 0rem 0rem;
    margin: auto;
  }
  body .productosGeneral .productos3 .productos3__div .productos3__div__card .productos3__div__card_p_over {
    margin: 0.5rem;
  }
  body .productosGeneral .productos3 .productos3__div .productos3__div__card .productos3__div__card_p {
    margin: 0 0 0.5rem 0;
  }
  body .productosGeneral .productos3 .productos3__div .productos3__div__card h3 {
    margin: 0.5rem;
  }
  body .cafeteriaArticle {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .cafeteriaArticle .cafeteria1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem;
    width: 30rem;
  }
  body .cafeteriaArticle .cafeteria1 ul {
    margin: 2rem;
  }
}
.prueba h1 {
  letter-spacing: 2px;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}
.prueba p {
  line-height: 1.5;
  font-size: max(1.2rem, 1.2vw);
}