footer {
    background-color: rgb(210, 105, 30); padding:  0rem 0.5rem;
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    .divInformacion { 
        h3 {
            color: rgb(253, 245, 2);
            margin: 0;
            text-decoration: none;
        }
        a{text-decoration: none;color: rgb(253, 245, 2); }
    }
    .divDirecciones {
        text-align: right;
        h3 {
             margin: 0;
            a{text-decoration: none;color: rgb(253, 245, 2); }
        }
        ul {
            list-style-type: none; margin: 0;
            li{&:hover{color:rgb(253, 245, 2) ;} a{text-decoration: none;                     
                color: rgb(253, 245, 2);}}
        }
    }
 
    
}
