.mainIndex {
    display: flex; justify-content: center; align-items: center;
    
    
    .heladoImg {
        width: 84%;  
        
        
    }
    .videoIndex {
        width: 100%;
        justify-content: center;
        
        
    }
}
.divmain{display: flex;  justify-content: center; align-items: center;}