.productosGeneral {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
        " a b c "
        " d e f ";
    .producto1 {
        grid-area: a;
        margin: 0;
        div {
            background-color: black;
            padding: 0.5rem 0.5rem;
            margin: 0;
            

            .cardProducto1 {
                display: flex;
                flex-wrap: wrap;
            
                margin: 0; padding: 0;
                .cardProducto1__div {
                    padding: 0rem;
                    margin: 0rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    padding: 0.5rem;
                    img {
                        width: 100%;
                    }

                    h3 {
                        color: rgb(253, 245, 2);
                        margin: 0 0 0 0;
                        width: 100%;
                    }
                }
            }
            p {
                background-color: aliceblue;
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }
    }
    .productos2 {
        .productos2__div {
            display: flex;
            flex-wrap: wrap;

            .productos2__div__card {
                background-color: aliceblue;
                width: 25rem;
                padding: 2rem;
                margin: 0.5rem;
                p {
                    font-size: 25px;
                }
                .productos2__div__card__div {
                    background-color: rgb(238, 126, 126);

                    display: flex;
                    width: 22rem;
                    p {
                        background-color: burlywood;

                        padding: 2.5rem 5rem;
                        margin: 0rem 1rem 0rem 0rem;
                        font-size: 25px;
                    }
                    .productos2__div__card__div__h3 {
                        color: black;
                        margin: auto;
                        padding: 0rem;
                        width: 5rem;
                        height: 2.5rem;
                        text-align: center;
                        background-color: rgb(173, 119, 47);
                    }
                }
            }
            h3 {
                background-color: antiquewhite;
                width: 4.5rem;
                padding: 6.5rem 0 6.5rem 0.15rem;
                margin: auto;
            }
        }
    }
    .productos3 {
        .productos3__div {
            display: flex;

            p {
                background-color: brown;
            }
            .productos3__div__card {
                display: flex;
                .productos3__div__card_p_over {
                    background-color: antiquewhite;
                    width: 20rem;
                    height: 3rem;
                    padding: 5rem;
                    overflow: auto;
                }
                .productos3__div__card_p {
                    background-color: antiquewhite;
                    width: 20rem;

                    padding: 1.5rem;
                }
                h3 {
                    background-color: black;
                    padding: 1rem;
                    margin: 1rem;
                }
            }
        }
    }
    .productos6 {
        .productos6__div {
            margin: 1rem;
            display: flex;
            .productos6__div__texto {
                background-color: darkblue;
                width: 3rem;
                padding: 1rem;
                width: 4rem;
                list-style-type: none;
                text-align: center;
            }
            .productos6__div__precio {
                background-color: aquamarine;
                width: 4rem;
                padding: 1rem;
                margin: 1rem 1rem 1rem 0.5rem;
                list-style-type: none;
            }
        }
    }
    .gridProducto2 {
        grid-area: b;
    }
    .gridProducto3 {
        grid-area: c;
    }
    .gridProducto4 {
        grid-area: d;
    }
    .gridProducto5 {
        grid-area: e;
    }
    .gridProducto6 {
        grid-area: f;
    }
}
