ol,
ul,
li {
    text-decoration: none;
    list-style: none; /*padding: 0; agrgar al terminar*/
    font-size: 18px;
}
.li-paraelegir {
    

    .li__ul-paralegir {
       
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 0;
        
    /*que es esto? grid-auto-columns: 1fr;*/
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
        "bochagrid dosbochasgrid tresbochasgrid"
        "barquillogrid ... pinitogrid"
        "cuartokgrid mediokgrid kgrid"
        "bañochoco bañochoco bañochoco";
        
        li {
            
            img {
                width: 25%;
            }
            p {
                font-size: 18px;
                padding: 0 0 0 0;
                margin: 0;
            }
        }
    }
}
/*------ grid area----*/
.bochagrid {
    grid-area: bochagrid;
}
.dosbochasgrid {
    grid-area: dosbochasgrid;
}
.tresbochasgrid {
    grid-area: tresbochasgrid;
}
.barquillogrid {
    grid-area: barquillogrid;
}
.pinitogrid {
    grid-area: pinitogrid;
}
.cuartokgrid {
    grid-area: cuartokgrid;
}
.mediokgrid {
    grid-area: mediokgrid;
}
.kgrid {
    grid-area: kgrid;
}
.bañochoco {
    grid-area: bañochoco;
}

.bañochoco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
    border: 0.2rem solid black;
    width: auto;
    
    .bañochoco_p {
        padding: 0 0 0 0;
    }
}
.li-postres {
    .li__ul-postres {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .ul__li-postres {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: rgb(210, 105, 30);
            
            .div-precios {
                display: flex;
                justify-content: space-around;
                
                p { 
                    
                    
                    margin:0 5% 0 5%;
                    
                }
            }
        }
        .unidad{display: none; 
            position: absolute;top: 62vw;
            background-color: aliceblue;
            right:  6vw;  }
        .seisunidades {display: none; 
            position: absolute;
            right:  0;
            
        }
    }
}

.familiares {
    justify-content: center;
    .ul__familiares {background-color: rgb(210, 105, 30);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .li__familiares {
            padding: 0;
            width: 50%;
        }
        /*.li__familiaresPrecio{
        }*/
    }
}
.tortas {
    justify-content: center;
    .ul__tortas { background-color: rgb(210, 105, 30);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .li__tortas {
            width: 50%;
        }
        /*.li__tortasprecio {
        }*/
    }
}
.antojos {
    justify-content: center;
    .ul__antojos {background-color: rgb(210, 105, 30);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .li__antojos {
            width: 50%;
        }
    }
}
.unidadantojo,
.unidadesantojo {
    position: absolute;
    top: 8vw;
}
.copas {
    justify-content: center;
    .ul__copas {background-color: rgb(210, 105, 30);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .li__copas {
            width: 50%;
        }
    }
}
.texto-hover:hover { color: rgb(253, 245, 2); span{color:black ;}}