.cafeteria {
    justify-content: center;
    .ul--cafeteria {background-color: rgb(210, 105, 30); padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .li--cafeteria {
            /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;*/
            width: 50%;
        }
        /*.li--precio{}*/
    }
}
.texto-hover:hover { color: rgb(253, 245, 2); span{color:black ;}}