.DeliveryMain {
    padding:auto;
    margin: 11rem;
    align-items: center;
    
    .deliverySection {
        width: 100%;
        height: 10%;
        background-color: aliceblue;
        text-align: center;
        margin: 0.5rem;
        font-size: 18px;
        
        .imgpedidosya {
            width: 45%;
        }
    }
}
