.cardPromociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    margin: 0 0 0 0;
    
    div {
        width: 25%;
        height: 50%;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 18px;
        background-color: antiquewhite;
       
        
        img {
            width: 100%;
        }
        
        /*svg {fill: #1559cf;stroke: #00ff8c;&:hover{fill: #ff0000;} } el stroke si sirve*/
        h5 {
            color: chocolate; 
            margin: 0.5rem 0 0 0; display: inline;
        }
        p{margin: 0; display: inline;  }
         /*-----HOVER----*/
        &:hover {
            
            border: 0.5rem solid chocolate;
            p{ span{border-radius: 50%;display: inline; 
                border-bottom-width: thin  ;
                border-bottom-style:  solid ;
                border-bottom-color: black;}
                /*border-left-width: thin solid black; 
                border-right-width: thin solid black;;
                border-top-width: thin solid black;*/}

               }
    }
}
