.antojos {
    justify-content: center;
    .ul__antojos {
        background-color: rgb(210, 105, 30);
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1rem;
        .li__antojos {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 1rem 0 1rem;
            p {
                width: auto;
            }
            div {
                display: flex;
            }
        }
    }
}