
body {
    background-color: rgb(253, 245, 2);
    font-family: "Cormorant Garamond", serif;
}
/*-----Navbar----*/
.navbarp {
    .navbarp__div {
        background-color: rgb(210, 105, 30);
        
        .logo {width: 20rem ; height:20rem ;}
        .navbarp__div__div {
            .navbarp__div__div__ul {
                .navbarp__div__div__ul__li {
                    .navbarp__div__div__ul__li--a {
                        text-decoration: none;
                        color: rgb(253, 245, 2);
                        font-size: 18px;
                        &:hover { background-color: rgb(253, 245, 2); color:rgb(210, 105, 30) }
                    }
                }
            }
        }
    }
}


.letralogo {
font-size: 5rem; color:  rgb(253, 245, 2);}

/*-----_mainindex----*/
@import "_mainindex.scss";
/*-----mainpromociones----*/
@import "_mainpromociones.scss";
/*-----mainsabores----*/
@import "_mainsabores.scss";
/*-----mainproductos----*/
@import "_mainproductos.scss";
/*-----maincafeteria----*/
@import "_maincafeteria.scss";
/*-----_maindelivery----*/
@import "_maindelivery.scss";
/*-----_footer----*/
@import "_footer.scss";
/*-----_responsive----*/
@import "_responsive.scss";
